.BookInstruction {
    padding: 56px 20px;
    background-color:#f5f5f5;
}

.heading {
    text-align: center;
    font-size: 32px;
}

.instruction_points {
    max-width: 640px;
    margin: 64px auto 0;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.instruction_point {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;

    @for $i from 2 through 4 {
        &:nth-child(#{$i}) {
            padding-left: 40px * ($i - 1);
        }
    }

    @media (max-width: 750px) {
        &:nth-child(n) {
            padding-left: 0;
        }
    }
}

.instruction_point_icon {
    width: 30px;
}

.calculatorLink {
    color: inherit;
}
